.ribbon {
    width: 100%;
    height: 40vh;
    background-color: #3F51B5;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

main {
    margin-top: -35vh;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
}

.content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.mdl-textfield {
    width : 100%;
}